<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div class="container">
        <div class="ff-600 d-flex align-center justify-center mt-20">
            <h2>We Have</h2>
        </div>
        <div class="ff-600 d-flex align-center justify-center gap">
            <div class=" color">
                <h2>Some Awesome</h2>
            </div>
            <div>
                <h2>People</h2>
            </div>
        </div>
        <div class="row">
            <div class="cards">
                <span>
                    <img src="./assets/img/png/Image (4).svg" alt="">
                    <p class="ff-500 d-flex align-center justify-center mt-20">Gustavo Herwitz</p>
                    <p class="ff-400 d-flex align-center justify-center ">UI/UX Designer</p>
                </span>
                <div id="parent">
                    <div class="box align-center d-flex justify-center" id="box1">
                        <img src="./assets/img/svg/facebook-fill.svg" alt="">
                    </div>

                    <div class="box align-center d-flex justify-center" id="box2">
                        <img src="./assets/img/svg/instagram-fill.png" alt="">
                    </div>

                    <div class="box align-center d-flex justify-center" id="box3">
                        <img src="./assets/img/svg/twitter-fill.png" alt="">
                    </div>

                    <div class="box align-center d-flex justify-center" id="box4">
                        <img src="./assets/img/svg/skype-fill.png" alt="">
                    </div>
                </div>
            </div>

            <div class="cards">
                <span>
                    <img src="./assets/img/png/philip.svg" alt="">
                    <p class="ff-500 d-flex align-center justify-center mt-20">Phillip Curtis</p>
                    <p class="ff-400 d-flex align-center justify-center ">Graphic Designer</p>
                </span>
            </div>

            <div class="cards">
                <span>
                    <img src="./assets/img/png/TALAN TORFF.svg" alt="">
                    <p class="ff-500 d-flex align-center justify-center mt-20">Talan Torff</p>
                    <p class="ff-400 d-flex align-center justify-center ">Web Developer</p>
                </span>
            </div>

            <div class="cards">
                <span>
                    <img src="./assets/img/png/Abram vaccaro.svg" alt="">
                    <p class="ff-500 d-flex align-center justify-center mt-20">Abram Vaccaro</p>
                    <p class="ff-400 d-flex align-center justify-center ">App Developer</p>
                </span>
            </div>

        </div>
    </div>
</body>

</html>